.category-container{
    display: grid;
    // width: auto;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 10px;
    row-gap: 50px;

}
.titlee{
    font-size: 38px;
    margin-bottom: 25px;
    cursor:pointer;
    
}